---
import { type MoviesProps } from '../types/api.ts';
import MovieCard from './MovieCard.astro';
import { getTopFiveMovies } from '../services/getMovies.ts';
const topFiveMovies = await getTopFiveMovies();
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {
    topFiveMovies.map((movie: MoviesProps) => (
      <MovieCard
        _id={movie._id}
        title={movie.title}
        poster={movie.poster}
        genre={movie.genre}
        rate={movie.rate}
        director={movie.director}
        duration={movie.duration}
        year={movie.year}
      />
    ))
  }
</div>
